
	.nav{
		background-color: #293137;
		
	}

    
   
    }
    .menu{
    	list-style: none;
    	
    }
    li {
    	color: #ffffff;
    	padding: 33px 0px 0px 20px;
    }
    header {
        background-image: url('../images/header.jpg');
        background-size: cover;
        background-position: center center;
        height: 586px;
        width: 100%;
    }
    .header-title {
        text-transform: uppercase;
        color: #ffffff;

        background-color: #2f3539;
        width: 593px;
        font-family: Helvetica;
        font-size: 45px;
        font-weight: 100;
        margin: auto;

    }
    .header-subtitle {
        background-color: #2b8bd2;
        color: #ffffff;
        width: 417px;
         cursor: pointer;
        margin: auto;
        margin-top: 30px;
        font-size: 30px;
        font-weight: 100;
        text-transform: uppercase;
    }
    .health {
        padding-top: 30px;
    }
    .maps{
        background-color: #353f47;

    }
    .map img {
        width: 100%;
        height: 100%;
    }
    .locat {
        font-family: Helvetica;
        color: #ffffff;
        padding-top: 20px;
        font-weight: 100;
    }
    li {
        display: inline-block;
        padding: 33px 20px 15px 0px;
        
    }
    footer {
        background-color: #293137;
        
    }
    .foot{
        margin: 0;
        padding-left: 0px;

    }
    a:hover {
     color: #2b8bd2;
     -webkit-transition: 0.2s ease-in-out;
    }