
.mat-card {
  margin-top: 2%;
  background-color: lavender;
  text-align: center;

}
.div{
  display: inline-block;
  background-color: #484848;
  padding: 6%;
  margin: 4%;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  width: 25%;
  color: white;
}
.description{
margin-top: 40%;
  width: 100%;
  background-color: white;
  font-family: "CentSchbkCyrill BT"
}

