mat-card{
  background-color: bisque;
}
h1{
  text-align: center;
}
.mail{
  text-align: center;
  font-style: normal;
  font-family: "CentSchbkCyrill BT";
  font-size: 18px;
}
p{
  font-family: "CentSchbkCyrill BT";
  font-size: 17px;
}
em{
  font-family: "CentSchbkCyrill BT";
  font-size: 18px;
  font-weight: bold;
}
